@CHARSET "UTF-8";
/* 主页menu模块样式    */
.item{
	list-style-type:none;
	list-style-position:inside;
}

/*   菜单项目      */
li.item{
	position:relative;
	bottom:15px;
	float:left;
	margin:10px;
	padding:10px;
	height:30px;
	width:120px;
}

/*   隐藏的列表      */
ul.item0{
	position:relative;
	right:40px;
	margin:0px;
	list-style-type:none;
	list-style-position:outside;
	display:none;
}

/*  隐藏的列表项目    */
li.item0{
	padding:1px;
	margin:10px;
	height:30px;
	width:120px;
}

/*  登录和注册链接   */
li.item-login{
	padding:1px;
	margin:10px;
	height:30px;
	float:right;
}