@CHARSET "UTF-8";
table.library{
	border-collapse:collapse;
	width:800px;
	margin:0px auto;
	margin-bottom:10px;
	margin-top:10px;
	border:1px solid;
}
td{
	padding:5px;
	min-height:50px;
	border:1px solid;
}
.item{
	width:100%;
	border:0px;
	background-color:transparent;
	font-size:20px;
}
.item1{
	width:120px;
	border:0px;
	background-color:transparent;
	font-size:20px;
}
.item0{
	border:0px;
	background-color:transparent;
}
.td1{
	text-align:center;
	width:120px;
}
.td2{
	width:*;
}