@CHARSET "UTF-8";
ul.item-0{
	position:relative;
	left:100px;
	width:250px;
	list-style-type:none;
}
li.item-0{
	padding:1px;
	margin:20px;
	height:30px;
	width:150px;
}
a.item-0{
	color:blue;
	font-size:25px;
}
.left{
	float:left;
	width:400px;
}
.right{
	position:relative;
	top:100px;
	float:left;
	width:*;
}
table{
	margin:10px;
	font-size:20px;
}
.td1{
	text-align:right;
	color:#545454;
	width:150px;
}
#gztsg{
	margin:20px;
}